.defaultMat {
  --xr-background-material: translucent;
}

.thinMat {
  --xr-background-material: thin;
}

.thickMat {
  --xr-background-material: thick;
}

.regularMat {
  --xr-background-material: regular;
}


.noMat {
  --xr-background-material: none;
}

.transparentMat {
    --xr-background-material: transparent;
}