/* styles.module.css */
.testElement {
  --box-opacity: 1;
  --box-translate-x: 0px;
  --box-rotate-z: 0deg;
  --box-transformOrigin: left top;
  --box-visibility: visible;
  --box-display: ;
  --box-xr-back: 0;
  --box-xr-background-material: ;


  opacity: var(--box-opacity);
  transform: translate3d(var(--box-translate-x), 0, 0)
    rotateZ(var(--box-rotate-z));
  transform-origin: var(--box-transformOrigin);
  visibility: var(--box-visibility);
  display: var(--box-display);
  --xr-back: var(--box-xr-back);
  --xr-background-material: var(--box-xr-background-material);
  /* transition: all 0.3s ease; */
  border-radius: 40px;
  position: relative;
}