.title {
  margin-bottom: 8px !important;
}

.button {
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  border-radius: 30px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 28px;
  height: 48px;
  /* line-height: inherit; */
  [data-theme='dark'] & {
    color: white;
  }
}

.backColor {
  background-color: var(--color-fill-1);
  html[data-theme='dark'] & {
    background-color: #232525;
  }
}

.headerSection {
  padding-top: 7rem;
  html[data-theme='light'] & {
    background: linear-gradient(to bottom, #ffffff, var(--color-fill-1));
  }
}
